@media only screen and (min-width: 1200px) {
    aside {
        min-width: 20vw;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        visibility: hidden;
        display: none !important;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }

    section.page {
        display: block;
    }

    main {
        width: 100vw !important;
    }
}